Question - 1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\asus\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\asus\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\asus\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\asus\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

In [3]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [7]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [8]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Truthfools,3-8 Yrs
7,Data Analyst | HyVee,Bangalore/Bengaluru,Talent500,3-5 Yrs
8,Data Analyst with ANSR,"Bangalore/ Bengaluru, Karnataka",ANSR,6-9 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kochi/Cochin, Hyderabad/S...",L A Consultancy,3-7 Yrs

Question - 2

In [13]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.chrome.service import Service

In [14]:
driver = webdriver.Chrome()

In [15]:
driver.get("https://www.naukri.com/")

In [16]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys("Data Scientist")

In [17]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Bangalore")

In [18]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [19]:
job_title=[]
job_location=[]
company_name=[]

In [20]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [21]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [22]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name})
df

,Title,Location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,"Data Scientist -ML, DL, Python",Bangalore/Bengaluru,Capco
4,DATA SCIENTIST,Bangalore/Bengaluru,Walmart
5,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech
6,ACN - Applied Intelligence - Finance - Data Sc...,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Accenture
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
8,Sr . Data Scientist / Manager,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech
9,Data Scientist,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech

Question - 3

In [23]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.chrome.service import Service

In [24]:
driver = webdriver.Chrome()

In [25]:
driver.get("https://www.naukri.com/")

In [26]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys("Data Scientist")

In [27]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Delhi/NCR")

In [28]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [29]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [30]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [31]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [32]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist,"Hybrid - Noida, Uttar Pradesh, Bangalore/ Beng...",HCLTech,7-12 Yrs
1,ACN - Applied Intelligence - Finance - Data Sc...,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon...",Accenture,2-7 Yrs
2,Sr . Data Scientist / Manager,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech,7-10 Yrs
3,Data Scientist,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech,3-7 Yrs
4,Data Scientist with Retail Domain,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
5,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",TRH Consultancy Services,5-10 Yrs
6,Data Scientist,"Delhi / NCR, Noida, Kolkata, Mumbai, Hyderabad...",TRH Consultancy Services,5-10 Yrs
7,Data Scientist,"Delhi / NCR, Noida, Kolkata, Mumbai, Hyderabad...",TRH Consultancy Services,5-10 Yrs
8,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",TRH Consultancy Services,5-10 Yrs
9,Data Scientist,"Delhi / NCR, Noida, Mumbai, Hyderabad/Secunder...",TRH Consultancy Services,5-10 Yrs

Question - 4

In [4]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

In [5]:
driver = webdriver.Chrome()

In [6]:
driver.get("https://www.flipkart.com/")

In [7]:
search_g= driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_g

In [8]:
search_g.send_keys('sunglasses')

In [9]:
search_btn=driver.find_elements(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [10]:
Brand_name=[]
Total_price=[]
Lens_type=[]
Price_Discount=[]

In [11]:
start = 0
end = 3
for page in range(start,end):
    name_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name_tags:
        Brand_name.append(i.text)
        
        
start = 0
end = 3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        Total_price.append(i.text)
        

start = 0
end = 3
for page in range(start,end):
    type_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in type_tags:
        Lens_type.append(i.text)
        

start = 0
end = 3
for page in range(start,end):
    Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Discount_tags:
        Price_Discount.append(i.text)

In [12]:
print(len(Brand_name[0:100]),len(Total_price[0:100]),len(Lens_type[0:100]),len(Price_Discount[0:100]))

100 100 100 100

In [14]:
import pandas as pd
df = pd.DataFrame({'Brand':Brand_name[0:100],'Price':Total_price[0:100],'Lens':Lens_type[0:100],'Discount':Price_Discount[0:100]})
df

,Brand,Price,Lens,Discount
0,iCopertina,₹199,UV Protection Retro Square Sunglasses (Free Size),80% off
1,iCopertina,₹197,UV Protection Wayfarer Sunglasses (Free Size),80% off
2,SDEEP,₹185,"UV Protection, Others Spectacle Sunglasses (Fr...",80% off
3,SRPM,₹194,UV Protection Wayfarer Sunglasses (50),85% off
4,Elligator,₹168,"UV Protection Cat-eye, Retro Square, Oval, Rou...",71% off
...,...,...,...,...
95,ROADWAY,₹256,UV Protection Retro Square Sunglasses (Free Size),80% off
96,iCopertina,₹189,UV Protection Spectacle Sunglasses (Free Size),81% off
97,iCopertina,₹199,UV Protection Rectangular Sunglasses (Free Size),80% off
98,Shiv,₹275,"UV Protection, Polarized Retro Square Sunglass...",72% off
99,Rich Club,₹335,UV Protection Round Sunglasses (50),66% off

Question - 5

In [16]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

In [68]:
driver = webdriver.Chrome()

In [69]:
driver.get("https://www.flipkart.com/")

In [70]:
search_g= driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_g

In [71]:
search_g.send_keys('iphone 11')

In [72]:
search_btn=driver.find_elements(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [73]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [74]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]')
search.click()

In [75]:
Rating_star = []
Review_summary = []
Full_review = []

In [76]:
start = 0
end = 17
for page in range(start,end):
    star_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in star_tags:
        Rating_star.append(i.text)
       
        
start = 0
end = 17
for page in range(start,end):
    summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary_tags:
        Review_summary.append(i.text)

        
start = 0
end = 17
for page in range(start,end):
    review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review_tags:
        Full_review.append(i.text)

In [77]:
print(len(Rating_star[0:100]),len(Review_summary[0:100]),len(Full_review[0:100]))

100 100 100

In [92]:
import pandas as pd 
df = pd.DataFrame({'Star':Rating_star[0:100],'Review':Review_summary[0:100],'Full Review':Full_review[0:100]})
df

   Star              Review                                        Full Review
0     5      Classy product  Camera is awesome\nBest battery backup\nA perf...
1     5           Brilliant  Night mode is Awesome\nImage are sharp and fin...
2     5  Highly recommended  Battery - more or less 2 days\nCamera - can no...
3     5    Perfect product!                         Nice products thanks flkat
4     5   Terrific purchase                          Good performance & camera
..  ...                 ...                                                ...
95    5       Great product           Awesome product ❤️❤️\nThank you Flipkart
96    5      Classy product  Camera is awesome\nBest battery backup\nA perf...
97    5           Brilliant  Night mode is Awesome\nImage are sharp and fin...
98    5  Highly recommended  Battery - more or less 2 days\nCamera - can no...
99    5    Perfect product!                         Nice products thanks flkat

[100 rows x 3 columns]

Question - 6

In [79]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

In [80]:
driver = webdriver.Chrome()

In [81]:
driver.get("https://www.flipkart.com/")

In [82]:
search_g= driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_g

In [83]:
search_g.send_keys('Sneakers')

In [84]:
search_btn=driver.find_elements(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn

In [85]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [86]:
Brand_name = []
Product_Description = []
Total_Price = []

In [87]:
start = 0
end = 3
for page in range(start,end):
    name_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name_tags:
        Brand_name.append(i.text)
       
        
start = 0
end = 3
for page in range(start,end):
    Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Description_tags:
        Product_Description.append(i.text)

        
start = 0
end = 3
for page in range(start,end):
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags:
        Total_Price.append(i.text)

In [88]:
print(len(Brand_name[0:100]),len(Product_Description[0:100]),len(Total_Price[0:100]))

100 100 100

In [91]:
import pandas as pd
df = pd.DataFrame({'Brand':Brand_name[0:100],'Product description':Product_Description[0:100],'Price':Total_Price[0:100]})
df

           Brand                                Product description Price
0          Zixer  Men's Streetwear Pro Style High Top Platform F...  ₹753
1   K- FOOTLANCE                                   Sneakers For Men  ₹449
2       Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...  ₹499
3         BRUTON               Modern Trendy Shoes Sneakers For Men  ₹299
4          asian  Thunder-01 White Color Change Sneakers,Casuals...  ₹799
..           ...                                                ...   ...
95    Free Kicks  Combo Of 2 Leather Shoes FK-310 and FK-Alpha P...  ₹999
96     Deals4you                                 Sneakers For Women  ₹499
97     Deals4you                                 Sneakers For Women  ₹379
98     Deals4you                                 Sneakers For Women  ₹599
99          aadi                                   Sneakers For Men  ₹499

[100 rows x 3 columns]

Question - 7

In [93]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

In [123]:
driver = webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [124]:
driver.get("https://www.amazon.in/")

In [125]:
search_g= driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_g

In [126]:
search_g.send_keys('Laptop')

In [127]:
search_btn=driver.find_elements(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_btn

[<selenium.webdriver.remote.webelement.WebElement (session="074af2ee1fff9fc57ebe227aad484b28", element="B9277343B58EF0C2D55A037F3C05197C_element_32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="074af2ee1fff9fc57ebe227aad484b28", element="B9277343B58EF0C2D55A037F3C05197C_element_33")>]

In [128]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [131]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[11]/li/span/a/div/label/i')
search.click

In [132]:
Laptop_Title = []
Star_Ratings = []
Total_Price = []

In [133]:
Title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in Title_tags[0:10]:
    Title=i.text
    Laptop_Title.append(Title)
       
Ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in Ratings_tags[0:10]:
    Ratings=i.text
    Star_Ratings.append(Ratings)
    
Price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in Price_tags[0:10]:
    Price=i.text
    Total_Price.append(Price)

In [134]:
print(len(Laptop_Title),len(Star_Ratings),len(Total_Price))

10 10 10

In [135]:
import pandas as pd
df = pd.DataFrame({'Title':Laptop_Title,'Ratings':Star_Ratings,'Price':Total_Price})
df

                                               Title Ratings      Price
0  Acer [SmartChoice] One 14 Business Laptop AMD ...            ₹26,990
1  Acer One 14 Laptop AMD Ryzen 5 3500U Processor...            ₹34,990
2  Acer Nitro 16 Gaming Laptop AMD Ryzen™ 7 7840H...          ₹1,29,990
3  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...            ₹93,990
4  ASUS ROG Zephyrus G16, 16-inch (40.64 cms) FHD...          ₹1,44,990
5  Dell Inspiron 5430 13th Gen Laptop, Intel Core...            ₹45,990
6  ASUS Vivobook 15 (2023), Intel Core i5-13500H ...            ₹71,990
7  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...            ₹39,990
8  ASUS [Smart Choice] Vivobook 15, Intel Celeron...
9  Acer Aspire 5 Gaming Laptop Intel Core i7 13th...

Question - 8

In [3]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

In [4]:
driver = webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [5]:
driver.get('https://www.azquotes.com/')

In [6]:
Quote_title = []
Author_Name = []
Type_Quote = []

In [7]:
start = 0
end = 10
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in titles:
        Quote_title.append(i.text)
        
start = 0
end = 10
for page in range(start,end):
    Name=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in Name:
        Author_Name.append(i.text)
        
start = 0
end = 10
for page in range(start,end):
    Quote=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Quote:
        Type_Quote.append(i.text)

In [8]:
print(len(Quote_title),len(Author_Name),len(Type_Quote))

1000 1000 1000

In [10]:
import pandas as pd
df = pd.DataFrame({'Quote':Quote_title,'Author':Author_Name,'Type of Quote':Type_Quote,})
df

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Question - 9

In [15]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

In [39]:
driver = webdriver.Chrome()

In [40]:
driver.get('https://www.jagranjosh.com/')

In [41]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
search.click()

In [42]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

Question - 10

In [21]:
import selenium

from selenium import webdriver

import pandas as pd

from selenium.webdriver.common.by import By

import warnings

warnings.filterwarnings("ignore")

import time

In [22]:
driver = webdriver.Chrome()

In [23]:
driver.get('https://www.motor1.com/')

In [25]:
search = driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
search.send_keys('50 most expensive cars')

In [27]:
search = driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [28]:
search = driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
search.send_keys('50 most expensive cars in the world')

In [29]:
Car_name = []
Car_price = []
Car_image = []
Car_discription = []

In [30]:
name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags[0:49]:
    name=i.text
    Car_name.append(name)

In [31]:
img_tags=driver.find_elements(By.XPATH,'//picture[@class="lazyload"]')
src = [] 
for img in img_tags: 
    src.append(img.get_attribute('src'))

In [34]:
Car_name[0:49]

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire']